p {
    font-family: Cambria, 'Merriweather', serif;
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, 'Merriweather', serif;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    border-bottom: 1px solid #ffffff;
}

.timeline-header {
    text-transform: uppercase;
    font-family: Cambria, 'Merriweather', serif;
    font-weight: 900;
    font-size: 50px;
}

.timeline-subheader {
    color: #00588A;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 0.5em;
}

.success-txt {
    color: #3F903F;
}

.warning-txt {
    color: #F5950C;
}

.primary-txt {
    color: #2E6DA4;
}

.icon {
    max-height: 75px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;

}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    /*border: 1px solid #d4d4d4;*/
    border-radius: 2px;
    padding: 20px;
    position: relative;
    /*-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
    /*box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);*/
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    /* Adds arrows next to box */
        /*border-left: 15px solid #ccc;*/
        /*border-right: 0 solid #ccc;*/
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #00588A !important;
    border-radius: 50%;
    background-color: #00588A;
    border: 4px solid #fff;
    box-shadow: 0 0 0 7px #0099FF;
}


.timeline-badge.success {
    background-color: #3f903f !important;
    border-radius: 50%;
    background-color: #3f903f;
    border: 4px solid #fff;
    box-shadow: 0 0 0 7px #99CC66;
}

.timeline-badge.warning {
    background-color: #F5950C !important;
    border-radius: 50%;
    background-color: #F5950C;
    border: 4px solid #fff;
    box-shadow: 0 0 0 7px #f0ad4e;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
    border-radius: 50%;
    background-color: #d9534f;
    border: 4px solid #fff;
    box-shadow: 0 0 0 7px #d9534f;
}

.timeline-badge.info {
    background-color: #1874CD !important;
    border-radius: 50%;
    background-color: #1874CD;
    border: 4px solid #fff;
    box-shadow: 0 0 0 7px #87CEEB;
}

.timeline-badge.black {
    background-color: #000000 !important;
    border-radius: 50%;
    background-color: #000000;
    /*border: 4px solid #fff;*/
    /*box-shadow: 0 0 0 5px #000000;*/
}

.timeline > li > .timeline-badge.black {
    color: #FFF;
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -15px;
    background-color: #999;
    z-index: 100;
    border-radius: 50%;
}

.timeline-title {
    font-size: 28px;
    font-weight: 900;
    margin-top: 0;
    /*color: inherit;*/
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    p {
        font-size: 16px;
    }
    .timeline-header {
        text-transform: uppercase;
        font-family: Cambria, 'Merriweather', serif;
        font-weight: 900;
        font-size: 30px;
    }

    .timeline-subheader {
        color: #00588A;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 24px;
        letter-spacing: 0.5em;
    }

    .timeline-title {
        font-size: 26px;

    }

    .icon {
        max-height: 50px;
    }


    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-badge.black {
        left: 25px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}